<strong>Olá, {{provider}}</strong>
<p>Houve um cancelamento de horario, confira os detalhe abaixo</p>
<p>
  <strong>Cliente: </strong>{{user}} <br/>
  <strong>Data/hora: </strong>{{date}} <br/>
  <br />
  <small>
    O horário está novamente disponivel para novos agendamentos
  </small>
</p>
